// Auto genetated file
[
{
"name" : "ed25519 - sparc_64 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "gcc_sparc_64" ,
"main" : "ed25519" ,
"raw_options": { 
  "-no-results": "true",
  "-val-timeout": 60}
}
,
{
"name" : "ed25519 - sparc_32 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "gcc_sparc_32" ,
"main" : "ed25519"  ,
"raw_options": { "-no-results": "true" }
}
,
{
"name" : "ed25519 - x86_32 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "gcc_x86_32" ,
"main" : "ed25519"  ,
"raw_options": { "-no-results": "true" }
}
,
{
"name" : "ed25519 - x86_64 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "gcc_x86_64" ,
"main" : "ed25519"  ,
"raw_options": { "-no-results": "true" }
}
,
{
"name" : "ed25519 - armeb_eabi - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "gcc_armeb_eabi" ,
"main" : "ed25519"  ,
"raw_options": { "-no-results": "true" }
}
,
{
"name" : "ed25519 - arm_eabi - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "gcc_arm_eabi" ,
"main" : "ed25519"  ,
"raw_options": { "-no-results": "true" }
}
,
{
"name" : "ed25519 - aarch64 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "gcc_aarch64" ,
"main" : "ed25519"  ,
"raw_options": { "-no-results": "true" }
}
,
{
"name" : "ed25519 - aarch64eb - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "gcc_aarch64eb" ,
"main" : "ed25519"  ,
"raw_options": { "-no-results": "true" }
}
,
{
"name" : "ed25519 - rv64ifdq - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "gcc_rv64ifdq" ,
"main" : "ed25519"  ,
"raw_options": { "-no-results": "true" }
}
,
{
"name" : "ed25519 - rv32ifdq - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "gcc_rv32ifdq" ,
"main" : "ed25519"  ,
"raw_options": { "-no-results": "true" }
}
,
{
"name" : "ed25519 - mips_o32 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "gcc_mips_o32" ,
"main" : "ed25519"  ,
"raw_options": { "-no-results": "true" }
}
,
{
"name" : "ed25519 - mips_n32 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "gcc_mips_n32" ,
"main" : "ed25519"  ,
"raw_options": { "-no-results": "true" }
}
,
{
"name" : "ed25519 - mips_64 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "gcc_mips_64" ,
"main" : "ed25519"  ,
"raw_options": { "-no-results": "true" }
}
,
{
"name" : "ed25519 - mipsel_64 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "gcc_mipsel_64" ,
"main" : "ed25519"  ,
"raw_options": { "-no-results": "true" }
}
]
